{% extends "base.html" %}
{% block title %}
Logout
{% endblock title %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}
<div class="ui segment">
<h1 class="ui left floated header" style="font-family:Trebuchet MS, sans-serif">{% trans "Sign Out" %}</h1>
<div class="ui clearing divider"></div>
<p style="font-family:Trebuchet MS, sans-serif">{% trans 'Are you sure you want to sign out?' %}</p>

<form method="post" action="{% url 'account_logout' %}">
  {% csrf_token %}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
  {% endif %}
  <button type="submit" class='ui button secondary'>{% trans 'Sign Out' %}</button>
</form>
</div>
</div>
<br><br><br>
<br><br><br><br><br><br><br>
<br><br><br><br><br><br><br>    
{% endblock %}
