{% extends 'base.html' %}
{% load static %}
{% block  title %}
Welcome to cubook
{% endblock title %}


{% block content %}
<style>
#con{
    text-align: center;
    font-family :Times New Roman ;
    font-size : large;
}
</style>

<div class="ui segment">
  <h2 class="ui right floated header">cubook,Inc.</h2>
  <div class="ui clearing divider"></div>
  
<div class="ui inverted segment">
  
  <div class="ui inverted divider"></div>
  <h4 class="ui horizontal inverted divider">
    Thank You Developers
  </h4>
  <br>
  <p id="con"><b>Cubook is Social networking Website designed using Django  framework.</b><br>
  <br><b>The Frontend is developed using Semantic UI</b><br>
  <br><b>The database is designed using SQLite which is the default database of Django Framework</p>
  <br>
  <br>
  <br>
</div>
</div>

  <h3 class="ui center aligned block header">Developers</h3>

<div class="ui link cards">
  <div class="card">
    <div class="image">
      <img src="{% static '/nitin.jpg' %}">
    </div>
    <div class="content">
      <div class="header">Nitin Mishra</div>
      <div class="meta">
        <a>Full Stack Developer</a>
      </div>
      <div class="description">
       Frontend and Backend Developer.
      </div>
      <br>
     <a href="https://www.facebook.com/nitinmishra.mishra.16" target="_blank">
     <button class="ui circular facebook icon button">
      <i class="facebook icon"></i>
     </button></a>
     <a href="https://twitter.com/Nitin_mishra_"  target="_blank">
     <button class="ui circular twitter icon button">
      <i class="twitter icon"></i>
     </button></a>
     <a href="https://www.linkedin.com/in/nitin-mishra-96790889" target="_blank">
     <button class="ui circular linkedin icon button">
      <i class="linkedin icon"> </i>
     </button></a>
     <a href="https://www.instagram.com/nitin__28._/" target="_blank">
     <button class="ui circular google plus icon button">
      <i class="instagram icon"></i>
    </button></a>
    </div>
  </div>
  
  <div class="card">
    <div class="image">
      <img src="{% static '/ritik.png' %}">
    </div>
    <div class="content">
      <div class="header">Ritik Goel</div>
      <div class="meta">
        <span class="date">Backend Developer</span>
      </div>
      <div class="description">
        Handling backend.
      </div>
      <br>
      <a href="https://www.facebook.com/ritik.goel.06" target="_blank">
     <button class="ui circular facebook icon button">
      <i class="facebook icon"></i>
     </button></a>
     <a href="https://twitter.com/Nitin_mishra_"  target="_blank">
     <button class="ui circular twitter icon button">
      <i class="twitter icon"></i>
     </button></a>
     <a href="https://www.linkedin.com/in/nitin-mishra-96790889" target="_blank">
     <button class="ui circular linkedin icon button">
      <i class="linkedin icon"> </i>
     </button></a>
      
    <a href="https://www.instagram.com/ritikgoel06/" target="_blank">
     <button class="ui circular google plus icon button">
      <i class="instagram icon"></i>
     </button>
    </a>
    </div>
  </div>


  <div class="card">
    <div class="image">
      <img src="{% static '/dhruv1.jpg' %}">
    </div>
    <div class="content">
      <div class="header">Dhruv Bhattacharjee</div>
      <div class="meta">
        <a>Frontend Developer</a>
      </div>
      <div class="description">
       Frontend Designer
      </div>
      <br>
       <a href="https://www.facebook.com/dvbee89" target="_blank">
     <button class="ui circular facebook icon button">
      <i class="facebook icon"></i>
     </button></a>
     <a href="https://twitter.com/Nitin_mishra_"  target="_blank">
     <button class="ui circular twitter icon button">
      <i class="twitter icon"></i>
     </button></a>
     <a href="https://www.linkedin.com/in/nitin-mishra-96790889" target="_blank">
     <button class="ui circular linkedin icon button">
      <i class="linkedin icon"> </i>
     </button></a>
     <a href="https://www.instagram.com/thisisdhruvbee/" target="_blank">
     <button class="ui circular google plus icon button">
      <i class="instagram icon"></i>
    </button></a>
    </div>
  </div>

  <div class="card">
    <div class="image">
      <img src="">
    </div>
    <div class="content">
      <div class="header">Ritwik Abbhi</div>
      <div class="meta">
        <a>Frontend Developer</a>
      </div>
      <div class="description">
       Frontend Designer
      </div>
      <br>
      <a href="https://www.facebook.com/ritwik.abbhi" target="_blank">
     <button class="ui circular facebook icon button">
      <i class="facebook icon"></i>
     </button></a>
     <a href="https://twitter.com/Nitin_mishra_"  target="_blank">
     <button class="ui circular twitter icon button">
      <i class="twitter icon"></i>
     </button></a>
     <a href="https://www.linkedin.com/in/nitin-mishra-96790889" target="_blank">
     <button class="ui circular linkedin icon button">
      <i class="linkedin icon"> </i>
     </button></a>
     <a href="https://www.instagram.com/thisisdhruvbee/" target="_blank">
     <button class="ui circular google plus icon button">
      <i class="instagram icon"></i>
    </button></a>
    </div>
  </div>
</div>
{% endblock content %}


{% block scripts %}
<script>
$(document).ready(function()
    {
    console.log('working')
    })
</script>
{% endblock scripts %}
